@import "tailwindcss";

@theme {

  --color-darkgreen: #1A5319;

  /* Principal */
  --color-mediumgreen: #3e644e;

  --color-mediumgreen2: #387F39;

  --color-lightgreen: #1F7D53;
  --color-lightgreen2: #508D4E;
  --color-lightgreen3: #617e69;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}


body {
  background-color: whitesmoke;
  color: black;
}
